/* SITE WIDE */
:root {
  --twilight-indigo: #1d2f6fff;
  --watermelon: #ee4266ff;
  --hunter-green: #3e5641ff;
  --muted-teal: #83bca9ff;
  --headings-font: 'Montserrat', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

* {
  font-family: var(--body-font);
  box-sizing: border-box;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  border-bottom: solid 1px #ddd;
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

header span {
  font-size: 1.2rem;
  color: var(--twilight-indigo);
}

/* HAMBURGER */
.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--twilight-indigo);
  cursor: pointer;
}

.hamburger::before {
  content: '\2630';
}

.hamburger.show::before {
  content: '\00D7';
}

/* NAVIGATION */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  color: var(--watermelon);
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation li.current {
  background-color: #eee;
}

.navigation a:hover {
  background-color: var(--twilight-indigo);
}

/* MAIN */
h1 {
  color: var(--twilight-indigo);
}

/* FOOTER */
footer {
  background-color: #eee;
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc solid 1px;
  border-radius: 22px;
  background-color: var(--twilight-indigo);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--muted-teal);
}
