@media only screen and (min-width: 38rem) {
  header,
  main,
  nav,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  header img {
    width: 24;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }
}
